/* NAV HEADER */
/* NAV HEADER */
/* NAV HEADER */ /* NAV HEADER */ /* NAV HEADER */
@font-face {
  font-family: "futurafont";
  src: url("futura.ttf");
  }

@font-face{
  font-family: "futura-eb";
  src: url("futura-eb.ttf");
}

.text-bold{
  font-family: "futura-eb";
}
body{
  font-family: 'futurafont', sans-serif;
  font-size: 1.3em;
}
p{
  color: #4C556C;
  font-size: 1.3em;
}
footer{
  background: #39424E;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar-default {
  font-size: 1.1em;
  background-color: #277FB8;
  border-bottom: #FF9B02 3px solid;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #277fb8;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f8a23d;
  text-decoration: none;
  -moz-transition: 0.3s color ease;
  -o-transition: 0.3s color ease;
  -ms-transition: 0.3s color ease;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;

}
.navbar-default .navbar-nav > li > .dropdown-menu {
  font-size: 18px;
  background-color: #EEF4F7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #006bae;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #FF7801;
  background-color: #EEF4F7;
  text-decoration: none;
  -moz-transition: 0.3s color ease;
  -o-transition: 0.3s color ease;
  -ms-transition: 0.3s color ease;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #277fb8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f8a23d;
  background-color: #277FB8;
  text-decoration: none;
  -moz-transition: 0.3s color ease;
  -o-transition: 0.3s color ease;
  -ms-transition: 0.3s color ease;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f8a23d;
  background-color: #277FB8;
  text-decoration: none;
  -moz-transition: 0.3s color ease;
  -o-transition: 0.3s color ease;
  -ms-transition: 0.3s color ease;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
}
.navbar-default .navbar-toggle {
  border-color: #277fb8;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #f8a23d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ff8000;
  text-decoration: none;
  -moz-transition: 0.3s color ease;
  -o-transition: 0.3s color ease;
  -ms-transition: 0.3s color ease;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;

}
.dropdown-menu{
  background-color: #eef4f7 !important;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #006bae;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ff8000;
    text-decoration: none;
    -moz-transition: 0.3s color ease;
    -o-transition: 0.3s color ease;
    -ms-transition: 0.3s color ease;
    -webkit-transition: 0.3s color ease;
    transition: 0.3s color ease;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ff8000;
    background-color: #ffffff;
    text-decoration: none;
    -moz-transition: 0.3s color ease;
    -o-transition: 0.3s color ease;
    -ms-transition: 0.3s color ease;
    -webkit-transition: 0.3s color ease;
    transition: 0.3s color ease;
  }
}

.dropdown-submenu {
    position:relative;

}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 0 0 0;

}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
    text-decoration: none;
    -moz-transition: 0.3s color ease;
    -o-transition: 0.3s color ease;
    -ms-transition: 0.3s color ease;
    -webkit-transition: 0.3s color ease;
    transition: 0.3s color ease;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
    text-decoration: none;
    -moz-transition: 0.3s color ease;
    -o-transition: 0.3s color ease;
    -ms-transition: 0.3s color ease;
    -webkit-transition: 0.3s color ease;
    transition: 0.3s color ease;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #FF7801;
    text-decoration: none;
    -moz-transition: 0.3s color ease;
    -o-transition: 0.3s color ease;
    -ms-transition: 0.3s color ease;
    -webkit-transition: 0.3s color ease;
    transition: 0.3s color ease;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


.dropdown-menu>li>a {
    color: #006bae;
    background-color: #EEF4F7;
    border-color: #EEF4F7;
    font-size: 18px;
}
.dropdown-menu>li>a:hover {
    color: #FF7801;
    background-color: #EEF4F7;
    text-decoration: none;
    -moz-transition: 0.3s color ease;
    -o-transition: 0.3s color ease;
    -ms-transition: 0.3s color ease;
    -webkit-transition: 0.3s color ease;
    transition: 0.3s color ease;
}


/* CONTENT */
/* CONTENT */
/* CONTENT */ /* CONTENT */ /* CONTENT */

.navbar-nav{
  font-size: 1.22em;
	padding-top: 2.3em;
	padding-left: 0.1em;
}
@media screen and ( max-width: 1366px ) {
  .navbar-nav {
     font-size: 1.02em;
  }
}
.nav-logo-img{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0.7em;
}
.nav-logo-caixa{
  padding-top: 1.95em;
  padding-bottom: 1em;
  padding-right: 0.7em;
}
#content-index{
	letter-spacing: 0.06em;
	font-weight: bold;
	text-align: center;
	color: white;

}
h1{
	 padding-bottom: 0.1em;
  	 font-weight: bold;
     font-size: 3.5em;
}
@media screen and ( min-width: 600px ) {
  h1 {
  	padding-bottom: 0.1em;
  	 font-weight: bold;
     font-size: 7em;
  }
}
@media screen and ( max-width: 600px ) {
  h5 {
  	padding-bottom: 0.1em;
  	 font-weight: bold;
     font-size: 0.9em;
  }
}
.h5-content{
	color: #f8a23d;
	letter-spacing: 0.04px;
	font-size: 1.25em;
}
.navbar-nav > li{
  padding-left: 1.1em;
  padding-right: 0.8em;
}
.nav-button{
	padding-top: 2.15em;
}
.content-financiamento-disc{
	position:absolute;
	top:75%;
	left:15%;
	text-align: left;
	font-weight: bold;

}
.content-financiamento-disc h3{
	font-weight: bold;

}
.content-sidebar h3{
	font-weight: bold;
}
.content-sidebar-bar{
	border-bottom: 1px solid #205e8b;
	box-shadow: 0 1px #3e83b5;
}
.content-sidebar-link > span{
  font-size: 1.15em;
	color: white;
	text-decoration: none !important;
  letter
}
.content-sidebar-link > h4{
	color: #a5dff2;
	padding-top: 1em;
	font-size: 1.15em;
	font-weight: bold;
}

.content-sidebar-disc{
	font-weight: normal;
	padding-top: 1.5em;
	padding-bottom: 0.4em;
	letter-spacing: 0.01px;
	text-align: left;
}
.content-sidebar-disc-content{
	font-weight: normal;
	padding-top: 0.4em;
	padding-bottom: 2em;
	letter-spacing: 0.01px;
	text-align: left;
	padding-right: 1em;
}

/* Ghost Button */
.btn-default-header{
  color: #ecf0f1;
  font-size: 17px !important;

  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius:    0;
  border-radius:         2px !important;
  border-color: #9f6705;
  color: #fff;
  background: rgb(253,169,23);
  background: -moz-linear-gradient(top, rgba(253,169,23,1) 0%, rgba(252,143,1,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,169,23,1)), color-stop(100%,rgba(252,143,1,1)));
  background: -webkit-linear-gradient(top, rgba(253,169,23,1) 0%,rgba(252,143,1,1) 100%);
  background: -o-linear-gradient(top, rgba(253,169,23,1) 0%,rgba(252,143,1,1) 100%);
  background: -ms-linear-gradient(top, rgba(253,169,23,1) 0%,rgba(252,143,1,1) 100%);
  background: linear-gradient(to bottom, rgba(253,169,23,1) 0%,rgba(252,143,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fda917', endColorstr='#fc8f01',GradientType=0 );
}

.btn-default-header:hover{
  color: #ecf0f1 !important;

  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius:    0;
  border-radius:         2px;
  border-color: #6c4105;
  color: #fff;
  background: rgb(255,179,45);
  background: -moz-linear-gradient(top, rgba(255,179,45,1) 0%, rgba(255,154,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,179,45,1)), color-stop(100%,rgba(255,154,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,179,45,1) 0%,rgba(255,154,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,179,45,1) 0%,rgba(255,154,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,179,45,1) 0%,rgba(255,154,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,179,45,1) 0%,rgba(255,154,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb32d', endColorstr='#ff9a00',GradientType=0 );

}

@media (max-width: 1239px) {
.nav-btn-tel{display: none;}
}

@media (max-width: 767px) {
.nav-btn-tel{display: block;}
}

.nav-btn-title{
  color: #fff !important;
}

.nav-btn-title:hover{
  color: #fff !important;
}

a:hover{
  color: transparent;
}

a:focus{
  color: transparent;
}

/* PAGE CONTENT */

.title{
  padding-top: 2em;
  padding-left: 7em;
  padding-right: 7em;
}

.div-border{
  border-bottom: #cdcdcd 1px solid;
  padding-bottom: 4em;
}

.br{
  padding-top: 1em;
  padding-bottom: 1em;
}

.content-title{
  color: #1f2a47;
  font-size: 4em;
  padding-bottom: 1em;
}

/* CONTACT */

.border{
    background: #fff;
    height: 280px;
    border: #cdcdcd 1px solid;
    text-align: center;
    color: #006bae;
    padding-bottom: 1em;
}

.space{
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.space-2x{
  padding-top: 4em;
  padding-bottom: 4em;
}

.strong-contact{
  font-size: 1.45em;
  color: #1F2A47;
  font-weight: 500;
}
.p-contact{
  font-size: 16 .4px;
  color: rgba(38, 42, 45, 0.7);
}

/* FONT */

.text-footer-1{
  font-size: 13px;
  color: #979faf;
}

.text-footer-2{
  font-weight: 500;
  font-size: 20px;
  color: #979faf;
}

.text-footer-3{
  font-size: 14px;
  color: #979faf;
}

.text-footer-4 > ul > li > a{
  font-size: 14px;
  color: #979faf !important;
  text-decoration: none;
}

.text-footer-4 > ul > li > a:hover{
  font-size: 14px;
  color: #ff9b02 !important;
  text-decoration: none;
  -moz-transition: 0.3s color ease;
  -o-transition: 0.3s color ease;
  -ms-transition: 0.3s color ease;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;

}
